<div class="account-root">

    <div class="tool-bar">
        <h1>Account manager</h1>
        <div></div>
        <form action="/admin/account/search" method="get">
            <div class="input-group mb-3 input-search">
                <input type="text" class="form-control" placeholder="Search" aria-label="Example text with button addon"
                    aria-describedby="button-addon1" value="{{pattern}}" name="pattern">
                <button class="btn btn-primary btn-search" type="button submit" id="button-addon1"><i
                        class="bi bi-search"></i></button>
            </div>
        </form>
    </div>
    <div class="grid-data">
        <table class="table">
            <thead>
                <tr c>
                    <th scope="col">#</th>
                    <th scope="col">Avarar</th>
                    <th scope="col">Full name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Sum apartment</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {{#each accounts}}
                <tr>
                    <th scope="row">{{@index}}</th>
                    <td>
                        <img {{#if this.avatar}} src="{{this.avatar}}" {{else}}
                            src="https://store.playstation.com/store/api/chihiro/00_09_000/container/BE/nl/99/EP2402-CUSA05624_00-AV00000000000231/0/image?_version=00_09_000&platform=chihiro&bg_color=000000&opacity=100&w=720&h=720"
                            {{/if}} class="img-avatar" alt="...">
                    </td>
                    <td>{{this.fullname}}</td>
                    <td>{{this.email}}</td>
                    <td>{{this.countApartment}}</td>
                    <td>
                        <a href="account/apartment/{{this._id}}"><button class="btn btn-primary">Detail</button></a>
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                            data-bs-target="#staticBackdrop{{this._id}}">{{#if this.isBock}} Unblock {{else}} Block
                            {{/if}}</button>
                        <!-- Modal -->
                        <div class="modal fade" id="staticBackdrop{{this._id}}" data-bs-backdrop="static"
                            data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="staticBackdropLabel">{{this.fullname}}</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <span>Do you want {{#if this.isBock}} unblock {{else}} block {{/if}}
                                            {{this.fullname}}
                                            ?</span>
                                    </div>
                                    <div class="modal-footer">
                                        <form method="get" action="account/block/{{this._id}}">
                                            <input value="{{#if this.isBock}}false{{else}}true{{/if}}" name="isBlock"
                                                hidden />
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-danger">{{#if this.isBock}} Unblock
                                                {{else}} Block
                                                {{/if}}</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>