<div class="apartment-root">

    <div class="tool-bar">
        <h1>Apartment manager</h1>
        <div></div>
        <form method="get" action="/admin/apartment/search">
            <div class="input-group mb-3 input-search">
                <input type="text" class="form-control" placeholder="Search" aria-label="Example text with button addon"
                    aria-describedby="button-addon1" value="{{pattern}}" name="pattern">
                <button class="btn btn-primary btn-search" type="submit button" id="button-addon1"><i
                        class="bi bi-search"></i></button>
            </div>
        </form>
    </div>

    <div>
        <div class="grid-data">
            <a href="apartment/insert">
                <button class="btn btn-success">Add new apartment</button>
            </a>
            <table class="table mt-2">
                <thead>
                    <tr c>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Create by</th>
                        <th scope="col">Area</th>
                        <th scope="col">Price</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each apartments}}
                    <tr>
                        <th scope="row">{{@index}}</th>
                        <td>{{this.name}}</td>
                        <td>{{this.createBy}}</td>
                        <td>{{this.sqrt}}</td>
                        <td>{{this.price}}</td>
                        <td>
                            <a href="/admin/apartment/detail/{{this._id}}"><button
                                    class="btn btn-primary">Detail</button></a>
                            <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                data-bs-target="#staticBackdrop{{this._id}}">Delete</button>
                            <!-- Modal -->
                            <div class="modal fade" id="staticBackdrop{{this._id}}" data-bs-backdrop="static"
                                data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                                aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="staticBackdropLabel">Delete apartment</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <span>Do you want delete "{{this.name}}" ?</span>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Close</button>
                                            <a href="/admin/apartment/delete/{{this._id}}"><button type="button"
                                                    class="btn btn-danger">Delete</button></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>